parameters:
	level: 5
	paths:
		- app
		- tests
		- config
		- database
	excludePaths:
	    - database/migrations/*
	    - nova/*
	ignoreErrors:
	    # Filament's testing helpers (fillForm, assertCanSeeTableRecords, ...) are Livewire `Testable` macros
	    - '#^Call to an undefined method Livewire\\Features\\SupportTesting\\Testable::#'
